extends ./top_layout
block content
  h2 login
  form(action='/blog/login' method='post')
    p 
      input(type='text' name='username' placeholder='your id')
    p
      input(type='password' name='password' placeholder='your password')
    p
      input(type='submit')
